<!-- ref. https://docs.spring.io/spring-boot/docs/2.6.x/reference/html/features.html#features.logging -->
<configuration>
  <appender name="plain" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %green(%logger{36}) - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="logstash" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <timeZone>UTC</timeZone>
    </encoder>
  </appender>

  <springProfile name="default | local | test">
    <root>
      <appender-ref ref="plain" />
    </root>
  </springProfile>
</configuration>